*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}



nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
    
}
div a:hover{
    background-color: darkblue;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.detel h2{
    text-decoration: wavy;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: lightskyblue;
}

span{
    color: burlywood;
}

.detel p {
    color: #555;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 65%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-13%);
    transition: bottom 1s, left 1s;
}
.images .picture{
    bottom: 10px;
}

.images:hover .shape{
    bottom:60px
}
.images:hover .picture{
    left:45%
}
.images:hover .ppoint{
    right:45%
}
.hero nav img {
    width: 50%
}

/* about sec*/
.About-me{
    min-height: 120vh;
    background-color: cadetblue;
    color: antiquewhite;
}
.About-sec h3{
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    /*text-align: center */
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
    
}
.about-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    flex-basis: 35%;
    
}
.left img {
    height: 1000px;
    padding: auto;
}

.text{
    flex-basis: 70%;
    width: 70%;
}

.about-content p{
    flex-basis: 100%;
}

.about-content div{
    flex: 2;
}

.about-content text{
    margin-top: 5px;
}
.about-content p{
    align-items: center;
    display: inline-block;
}

.about-content ul{
    margin-top: 1%;
    margin-bottom: 0px;
    /*align-items: center;
    justify-content: center;*/
    font-size: 28px;
    
}


.tab-tittles{
    display: flex;
    margin: 20px 0px 40px;
    margin-top: 20px;
}
.tab-links{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: antiquewhite;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents{
    margin-top: 30px;
}

.tab-contents.blake ul p{
    margin-top: 35px;
    text-decoration: underline;
}
.tab-contents.blake ul g{
    
    text-decoration: underline;
}
.images .point{
    height: 1000px;
    position: fixed;
    /*left: 50%; */
    bottom: 0px;
    padding: 100px;
}

.about-content h4{
    
    text-decoration: underline;
    font-size: 30px;
}

.about-content h5{
    
    text-decoration: underline;
    font-size: 30px;
}


.pointer ul {
    display: inline-block;
}



.projects{
    min-height: 100vh;
    background-color: #eff4fd;
    color: rgb(82, 128, 206);
    margin-top: 10px;
}
.projects-sec h9{
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline; 
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    
}

.projects-cont ul{
    font-size: 22px;
    margin-top: 5%;
}
.projects-cont ul li{
    margin-top: 1%;
    margin-bottom: 2%;
}
.projects-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.picproj {
    flex-basis: 35%;
    width: 30%;
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.proj{
    display: inline-block;
    flex-basis: 60%;
}
.row{
    flex-basis: 35%;
    margin-top: 10%;
    margin-left: 20px;
}
.row p{
    margin-top: 30px;
    color: blue;
}
.row h1{
    font-size: 30px;
    color: blue;
}
.row p i{
    color: blue;
    margin-right: 15px;
    font-size: 25px;
}